.hero {
    background-image: url(hero.jpg);
    height: 80vh;
    background-size: cover ;
    background-position: center;
    text-align: center;
    position: relative;
    bottom: 6.5rem;
    z-index: -1;
}



.header {
    position: relative;
    font-family: Big Shoulders Display, sans-serif;
    font-size: 4rem;
    color: white;
    top: 40%;

}
.shop {
    position: relative;
    font-family: BenchNine, sans-serif;
    color: white;
    top: 50%;
    z-index: 100;

}

.arrow {
    position: relative;
    color: white;
    top: 50%;
    font-size: 3rem;
    z-index: 10;
}

