.newsletter {
  font-family: "BenchNine", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  bottom: 3rem;
}

.subscribe {
  background: black;
  color: white;
  text-decoration: none;
  border: white;
}
