.newsletter {
  font-family: "BenchNine", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
<<<<<<< HEAD
  top: 0.25rem;
  flex-wrap: wrap;
  margin-left: auto;
=======
  bottom: 3rem;
>>>>>>> 18c5692a1506fe8c6886c3a87bcfedad176a176a
}

.subscribe {
  background: black;
  color: white;
  text-decoration: none;
  border: white;
<<<<<<< HEAD
}

@media only screen and (max-width: 200px) {
  .newsletter,
  .subscribe {
    display: none;
  }
=======
>>>>>>> 18c5692a1506fe8c6886c3a87bcfedad176a176a
}
