.newsletter {
  font-family: "BenchNine", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  top: 0.25rem;
  flex-wrap: wrap;
  margin-left: auto;
  width: 600px;
}

.subscribe {
  background: black;
  color: white;
  text-decoration: none;
  border: white;
}

@media only screen and (max-width: 200px) {
  .newsletter,
  .subscribe {
    display: none;
  }
}
