#about {
    background-image: url("../../assets/images/campersgrouphome.jpg") ;
    background-size: cover ;
    height: 100vh;
    /* width: 100vw; */
}

#about-text {
    background-color: rgba(0, 0, 0, 0.363);
}