.cart-wrapper {
  background: grey;
  color: white;
}
section {
  background: black;
}
.nothing {
  height: 100vh;
  color: white;
  padding-top: 10rem;
  background: black;
}

button {
  padding-left: 6px;
  padding-right: 6px;
}

.count {
  color: white;
}

section .cart {
  position: relative;
  border: 1px solid rgb(44, 44, 44);
  background-color: rgb(0, 0, 0);
  margin-bottom: 5rem;
}
.amount span {
  color: white;
  padding: 0 20px;
}
#itemCount {
  color: white;
  margin: 25px;
}
.amount .count {
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.delete {
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
  cursor: pointer;
  font-weight: 900;
}
.total {
  width: 100%;
  height: 40vh;
  position: relative;
  bottom: 5rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total a {
  text-decoration: none;
  background: #333;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 25px;
}
.total h3 {
  margin-right: 50px;
  color: white;
}
.item-count {
  color: white;
  margin-right: 5px;
}
/* Details */
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
  margin-bottom: 76px;
  padding-bottom: 20px;
  background: black;
}
.details img {
  max-width: 50px;
  min-width: 290px;
  height: 300px;
  display: block;
  object-fit: cover;
  margin: 25px;
}
.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}
.box .row span {
  color: white;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
  color: white;
}
.box .cart {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
}

.nothing {
  height: 100vh;
  color: white;
  padding-top: 10rem;
  background: black;
}

.btn {
  padding-left: 6px;
  padding-right: 6px;
}

.count {
  color: white;
}

section .cart {
  position: relative;
  border: 1px solid rgb(44, 44, 44);
  background-color: rgb(0, 0, 0);
  margin-bottom: 5rem;
}
.amount span {
  color: white;
  padding: 0 20px;
}
.amount .count {
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.delete {
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
  cursor: pointer;
  font-weight: 900;
}
.total {
  width: 100%;
  height: 40vh;
  position: relative;
  bottom: 5rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total a {
  text-decoration: none;
  background: #333;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 25px;
}
.total h3 {
  margin-right: 50px;
  color: white;
}

.item-count {
  color: white;
  margin-right: 5px;
}

/* Details */
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
  margin-bottom: 76px;
  padding-bottom: 20px;
  background: black;
}
.details img {
  max-width: 50px;
  min-width: 290px;
  height: 300px;
  display: block;
  object-fit: cover;
  margin: 25px;
}
.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}
.box .row span {
  color: white;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
  color: white;
}
.box .cart {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
}
#item {
  color: white;
  margin: 25px;
}
