body {
  background-color: black;
}

#product {
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background: #000;
}

#productWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;
}

#title {
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
}

#pageDesc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  margin-top: 1rem;
}

#productTitle {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
}

#productDescription {
  margin-bottom: 1rem;
  color: white;
}

#productPrice {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: white;
}

.card {
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
  background-color: black;
}

.card img {
  height: 325px;
  min-width: 325px;
  max-width: 100%;
}

.card button {
  border: none;
  outline: none;
  background: #333;
  color: white;
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(107, 107, 107);
}

.card button:hover {
  background-color: rgb(27, 27, 27);
  transform: translateY(4px);
}

.card button:active {
  box-shadow: 0 2px #666;
  transform: translateY(7px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
