.wrapper {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 7rem;
}

.new-arrivals {

  background-color: black;  
  bottom: 7rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  
}


.large-text{
    position: relative;
    top: 40%;
    font-family: Big Shoulders Display, sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
}

.small-text {
    position: relative;
    top: 45%;
    
}


.photo {
    background-image: url(dufflebaghome.png);
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    position: relative;
    top: 11rem;
}

p:hover {
    background-color: white;
    color: black;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}